{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="{% static 'plantilla/blogy/images/favicon.png' %}">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'plantilla/blogy/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'plantilla/blogy/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static 'plantilla/blogy/css/tiny-slider.css' %}">
    <link rel="stylesheet" href="{% static 'plantilla/blogy/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'plantilla/blogy/css/glightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'plantilla/blogy/css/style.css' %}">

    <!-- 1. importando archivo jv de jquery-->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- 2. jsquery validation-->
     <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <link rel="stylesheet" href="{% static 'plantilla/blogy/css/flatpickr.min.css' %}">
    <!--Importando iconos de fint awasome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <!--IMportando seetalert2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Blogy &mdash; Free Bootstrap 5 Website Template by Untree.co</title>
</head>
<body>

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">
        <div class="container">
            <div class="menu-bg-wrap">
                <div class="site-navigation">
                    <div class="row g-0 align-items-center">
                        <div class="col-2">
                            <a href="{% url 'inicioau' %}" class="logo m-0 float-start">Blogy<span class="text-primary">.</span></a>
                        </div>
                        <div class="col-8 text-center">
                            <form action="#" class="search-form d-inline-block d-lg-none">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="bi-search"></span>
                            </form>

                            <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
                                <li class="active"><a href="{% url 'inicioau' %}">Home</a></li>
                                <li class="has-children">
                                    <a href="{% url 'inicioau' %}">Autor</a>
                                    <ul class="dropdown">
                                        <li><a href="nuevoAutor">Agregar Autor</a></li>
                                    </ul>

                                <li class="has-children">
                                    <a href="{% url 'inicioli' %}">Libreria</a>
                                    <ul class="dropdown">
                                        <li><a href="nuevaLibreria">Agregar Libreria</a></li>
                                    </ul>
                                
                                <li class="has-children">
                                    <a href="{% url 'iniciolib' %}">Libro1</a>
                                    <ul class="dropdown">
                                        <li><a href="nuevoLibro">Agregar Libro</a></li>
                                    </ul>

                                    <li class="has-children">
                                        <a href="{% url 'investigador' %}">Investigador</a>
                                        <ul class="dropdown">
                                            <li><a href="nuevoInvestigador">Agregar Investigador</a></li>
                                        </ul>
                            </ul>
                        </div>
                        <div class="col-2 text-end">
                            <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light">
                                <span></span>
                            </a>
                            <form action="#" class="search-form d-none d-lg-inline-block">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="bi-search"></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="section bg-light">
        <div class="container">    
            {% block body %}{% endblock %}
        </div>
    </section>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <li>
                    <a href="">
                        <img src="{% static 'plantilla/blogy/images/img_1_sq.jpg' %}" alt="Image placeholder" class="me-4 rounded">

                    </a>
                </li>

            </div>
        </div>
        {% if messages%}
            {% for mensaje in messages%}
                <script>Swal.fire({
                title: "CONFIRMACIÓN",
                text: "{{mensaje}}",
                icon: "success"
                });</script>          
            {% endfor%}
        {%endif%}
    </footer>
    

    <script src="{% static 'plantilla/blogy/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plantilla/blogy/js/tiny-slider.js' %}"></script>


    <style>
        .error {
          color: red;
          font-weight: bold;
        }
        .form-control.error {
          border: 1px solid red;
        }
      </style>

</body>
</html>