{% extends 'plantilla.html' %}
{% load static %}
{% block body %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Editar Jugador</h1>
        <form action="/procesarEdicionJugador" id="frm_nuevo_jugador" method="post">
            {% csrf_token %}
            <input type="hidden" name="id_jugador" value="{{jugadorEditar.id_jugador}}">
            <label for="nombre">Nombre</label><br>
            <input class="form-control" type="text" name="nombre" id="nombre" value="{{jugadorEditar.nombre}}"><br>

            <label for="apellido">Apellido</label><br>
            <input class="form-control" type="text" name="apellido" id="apellido" value="{{jugadorEditar.apellido}}"><br>

            <label for="celular">Celular</label><br>
            <input class="form-control" type="number" name="celular" id="celular" value="{{jugadorEditar.celular}}"><br>

            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-outline-danger" href="{% url 'inicioju' %}">Cancelar</a><br><br>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<!--Embeber codigo javascript/jquery dentro del Html-->
<script>
    $("#frm_nuevo_jugador").validate({
        rules:{
            "nombre":{
                required:true,
                minlength:5,// cuenta caracteres 
                maxlength:7// caracteres maximos
            },
            "apellido":{
                required:true,
                minlength:7,// cuenta caracteres 
                maxlength:10// caracteres maximos
            },
            "celular":{
                required:true,
                number:true,
                min:9911111111,// cuenta caracteres 
                max:9999999999// caracteres maximos
            }

        },
        messages:{
            "nombre":{
                required:"Por favor el Campo es obligatorio",
                minlength:"Debe ingresar minimo 5 caracteres",// cuenta caracteres 
                maxlength:"Debe ingresar maxima 7 caracteres"// caracteres maximos
            },
            "nacionalidad":{
                required:"Por favor el Campo es obligatorio",
                minlength:"Debe ingresar minimo 7 caracteres",// cuenta caracteres 
                maxlength:"Debe ingresar maxima 10 caracteres"// caracteres maximos
            },
            "celular":{
                required:"Por favor el Campo es obligatorio",
                number:"Por favor el Campo deben llenarse con numeros",
                min:"Debe ingresa minimo de 10 numeros",// cuenta caracteres 
            }
        }
    });
</script>
{% endblock %}